/*.dashboard-box {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: space-between;*/
/*}*/


.card-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

