.site-right .site-right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #ffffff;
}

.site-right .site-right-header button {
  margin-top: 12px;
}

.site-avatar {
  width: 40px;
  border-radius: 8px;
}
