@import '~antd/dist/antd.css';
/*全局css*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /*background-color: darkseagreen;*/
  height: 100vh;
  font-size: 16px;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
}

.ant-modal-wrap, .ant-modal-mask {
  z-index: 100000;
}
